packaging~=21.3  
pandas-stubs~=1.5.3  
black~=22.12  
flake8~=6.0
mypy~=1.2
isort~=5.12
bandit~=1.7
pycodestyle~=2.10
pydocstyle~=6.3
types-pytz~=2023.3
types-google-cloud-ndb~=2.1.0
pytest-cov~=4.0
twine~=4.0
graphviz~=0.20
sphinx~=6.2
nbsphinx~=0.9
sphinxcontrib-plantuml~=0.25
beautifulsoup4~=4.11
docutils~=0.18
safety~=2.3
lxml~=4.9.2    
pre-commit
ruff